@font-face
{
font-family: "GeosansLight";
src: url('GeosansLight.ttf');
}

body {
	font-size: 11pt;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-left:15%;
	margin-right:15%;
}

header {
	text-align: center;
}

header .logo { 
	height: 6em;
	margin: 1ex;
}

header h1 { 
	font-size: 300%;
    font-family: "GeosansLight";
    margin-bottom: 0ex; 
	color: #000060;
	text-align: center;
}

section h2 { 
	font-size: 150%;
    font-family: "GeosansLight";
	color: #000060;
}

code {
	font-family: "Courier", monospace;
}

footer {
	text-align: center;
}
